body{
	background: #232323;
}

h1{
	color: white;
	font-family: 
}
.square{
	width: 30%;
	margin: 1.66%;
	float: left;
	background: purple;
	padding-bottom: 30%;
	border-radius: 15%;
}

#container{
	max-width: 600px;
	margin: 20px auto;
}

#stripe{
	background-color: white;
	text-align: center;
}
.selected{
	background: steelblue;
}
